USE [master]
GO
/****** Object:  Database [SpyRes1]    Script Date: 3/12/2019 9:29:17 PM ******/
CREATE DATABASE [SpyRes1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpyRes1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SpyRes1.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SpyRes1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SpyRes1_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpyRes1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpyRes1]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[Ban_ID] [int] IDENTITY(1,1) NOT NULL,
	[SoBan] [int] NULL,
	[TrangThai] [bit] NULL,
	[HoaDonDangPhucVu] [int] NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[Ban_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONDATHANG]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONDATHANG](
	[ChiTietDonDatHang_ID] [int] IDENTITY(1,1) NOT NULL,
	[DonDatHang_ID] [int] NULL,
	[NguyenLieu_ID] [int] NULL,
	[SoLuong] [int] NULL,
	[DonVi] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETDONDATHANG] PRIMARY KEY CLUSTERED 
(
	[ChiTietDonDatHang_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONGIAOHANG]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONGIAOHANG](
	[ChiTietDonGiaoHang_ID] [int] IDENTITY(1,1) NOT NULL,
	[DonGiaoHang_ID] [int] NULL,
	[NguyenLieu_ID] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[DonVi] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETDONGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[ChiTietDonGiaoHang_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[ChiTietHoaDon_ID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDon_ID] [int] NULL,
	[MonAn_ID] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[ChiTietHoaDon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOPDONG]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOPDONG](
	[ChiTietHopDong_ID] [int] IDENTITY(1,1) NOT NULL,
	[HopDong_ID] [int] NULL,
	[NguyenLieu_ID] [int] NULL,
	[DonVi] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETHOPDONG] PRIMARY KEY CLUSTERED 
(
	[ChiTietHopDong_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPKHO]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPKHO](
	[ChiTietPhieuNhapKho_ID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapKho_ID] [int] NULL,
	[NguyenLieu_ID] [int] NULL,
	[SoLuong] [int] NULL,
	[DonVi] [nvarchar](50) NULL,
	[Gia] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[ChiTietPhieuNhapKho_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUATKHO]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUATKHO](
	[ChiTietPhieuXuatKho_ID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuXuatKho_ID] [int] NULL,
	[NguyenLieu_ID] [int] NULL,
	[SoLuongXuat] [int] NULL,
	[DonVi] [nvarchar](50) NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUATKHO] PRIMARY KEY CLUSTERED 
(
	[ChiTietPhieuXuatKho_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[DonDatHang_ID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVien_ID] [int] NULL,
	[NhaCungCap_ID] [int] NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[NgayDat] [datetime] NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[DonDatHang_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONGIAOHANG]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGIAOHANG](
	[DonGiaoHang_ID] [int] IDENTITY(1,1) NOT NULL,
	[NhaCungCap_ID] [int] NOT NULL,
	[DonDatHang_ID] [int] NULL,
	[NgayGiao] [datetime] NULL,
	[SoDienThoai] [nvarchar](10) NULL,
 CONSTRAINT [PK_DONGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[DonGiaoHang_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[HoaDon_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[Ban_ID] [int] NULL,
	[NhanVien_ID] [int] NULL,
	[KhachHang_ID] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[HoaDon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[HopDong_ID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVien_ID] [int] NULL,
	[NhaCungCap_ID] [int] NULL,
	[TenHopDong] [nvarchar](50) NULL,
	[NgayLap] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[HopDong_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[KhachHang_ID] [int] IDENTITY(1,1) NOT NULL,
	[HoKhachHang] [nvarchar](255) NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[KhachHang_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIMONAN]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMONAN](
	[LoaiMonAn_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
 CONSTRAINT [PK_LOAIMONAN] PRIMARY KEY CLUSTERED 
(
	[LoaiMonAn_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[MonAn_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Hinh] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](100) NULL,
	[Gia] [float] NULL,
	[LoaiMonAn_ID] [int] NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MonAn_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[NguyenLieu_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNguyenLieu] [nvarchar](255) NULL,
	[DonVi] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[NguyenLieu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[NhaCungCap_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[NhaCungCap_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[NhanVien_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[HoNhanVien] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[NhanVien_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[PhieuNhapKho_ID] [int] IDENTITY(1,1) NOT NULL,
	[NhaCungCap_ID] [int] NULL,
	[NhanVien_ID] [int] NULL,
	[NgayLap] [datetime] NULL,
 CONSTRAINT [PK_PHIEUNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[PhieuNhapKho_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUATKHO]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATKHO](
	[PhieuXuatKho_ID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVien_ID] [int] NULL,
	[NgayXuat] [datetime] NULL,
 CONSTRAINT [PK_PHIEUXUATKHO] PRIMARY KEY CLUSTERED 
(
	[PhieuXuatKho_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHPHANMONAN]    Script Date: 3/12/2019 9:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHPHANMONAN](
	[CongThuc_ID] [int] IDENTITY(1,1) NOT NULL,
	[NguyenLieu_ID] [int] NULL,
	[MonAn_ID] [int] NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK_THANHPHANMONAN] PRIMARY KEY CLUSTERED 
(
	[CongThuc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([Ban_ID], [SoBan], [TrangThai], [HoaDonDangPhucVu]) VALUES (1, 1, 0, NULL)
INSERT [dbo].[BAN] ([Ban_ID], [SoBan], [TrangThai], [HoaDonDangPhucVu]) VALUES (2, 2, 0, NULL)
INSERT [dbo].[BAN] ([Ban_ID], [SoBan], [TrangThai], [HoaDonDangPhucVu]) VALUES (3, 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[BAN] OFF
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([ChiTietHoaDon_ID], [HoaDon_ID], [MonAn_ID], [SoLuong], [DonGia]) VALUES (1, 1, 2, 1, 35000)
INSERT [dbo].[CHITIETHOADON] ([ChiTietHoaDon_ID], [HoaDon_ID], [MonAn_ID], [SoLuong], [DonGia]) VALUES (2, 1, 3, 1, 35000)
INSERT [dbo].[CHITIETHOADON] ([ChiTietHoaDon_ID], [HoaDon_ID], [MonAn_ID], [SoLuong], [DonGia]) VALUES (8, 2, 2, 1, 35000)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([HoaDon_ID], [Ngay], [TrangThai], [Ban_ID], [NhanVien_ID], [KhachHang_ID], [GhiChu]) VALUES (1, CAST(N'2019-08-03 00:00:00.000' AS DateTime), 1, 1, 1, 1, N'')
INSERT [dbo].[HOADON] ([HoaDon_ID], [Ngay], [TrangThai], [Ban_ID], [NhanVien_ID], [KhachHang_ID], [GhiChu]) VALUES (2, CAST(N'2019-03-10 02:22:19.553' AS DateTime), 1, 2, 1, 1, N'')
INSERT [dbo].[HOADON] ([HoaDon_ID], [Ngay], [TrangThai], [Ban_ID], [NhanVien_ID], [KhachHang_ID], [GhiChu]) VALUES (3, CAST(N'2019-03-11 12:15:07.730' AS DateTime), 1, 4, 1, 1, N'')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([KhachHang_ID], [HoKhachHang], [TenKhachHang], [Email], [DiaChi], [DienThoai], [GhiChu]) VALUES (1, N'Phạm', N'Bình', N'binh@gmail.com', N'Hồ Chí Minh', N'0639856123', N'không')
INSERT [dbo].[KHACHHANG] ([KhachHang_ID], [HoKhachHang], [TenKhachHang], [Email], [DiaChi], [DienThoai], [GhiChu]) VALUES (2, N'Phạm', N'Vy', N'vy@gmail.com', N'Hồ Chí Minh', N'0569874563', N'không')
INSERT [dbo].[KHACHHANG] ([KhachHang_ID], [HoKhachHang], [TenKhachHang], [Email], [DiaChi], [DienThoai], [GhiChu]) VALUES (3, N'Phạm ', N'Khang', N'khang@gmail.com', N'Hồ Chí Minh', N'0563894230', N'không')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIMONAN] ON 

INSERT [dbo].[LOAIMONAN] ([LoaiMonAn_ID], [TenLoai]) VALUES (1, N'Cơm')
INSERT [dbo].[LOAIMONAN] ([LoaiMonAn_ID], [TenLoai]) VALUES (2, N'Món nước')
INSERT [dbo].[LOAIMONAN] ([LoaiMonAn_ID], [TenLoai]) VALUES (3, N'Nước giải khát')
SET IDENTITY_INSERT [dbo].[LOAIMONAN] OFF
SET IDENTITY_INSERT [dbo].[MONAN] ON 

INSERT [dbo].[MONAN] ([MonAn_ID], [TenMonAn], [MoTa], [Hinh], [TrangThai], [Gia], [LoaiMonAn_ID]) VALUES (1, N'Phở bò', N'phở thơm ngon, bánh phở mềm dai, bò tươi mới', N'phobo.jpg', N'ngừng kinh doanh', 25000, 2)
INSERT [dbo].[MONAN] ([MonAn_ID], [TenMonAn], [MoTa], [Hinh], [TrangThai], [Gia], [LoaiMonAn_ID]) VALUES (2, N'Hủ tiếu', N'hủ tiếu nam vang, hương vị quê hương ', N'hutieu.jpg', N'ngừng kinh doanh', 35000, 2)
INSERT [dbo].[MONAN] ([MonAn_ID], [TenMonAn], [MoTa], [Hinh], [TrangThai], [Gia], [LoaiMonAn_ID]) VALUES (3, N'Cơm bò xào', N'cơm bò xào với hạt cơm dẻo, bò tươi kết hợp với các loại rau củ ', N'comboxao.jpg', N'đang kinh doanh', 35000, 1)
SET IDENTITY_INSERT [dbo].[MONAN] OFF
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] ON 

INSERT [dbo].[NGUYENLIEU] ([NguyenLieu_ID], [TenNguyenLieu], [DonVi], [SoLuong]) VALUES (1, N'thịt bò', N'kg', 50)
INSERT [dbo].[NGUYENLIEU] ([NguyenLieu_ID], [TenNguyenLieu], [DonVi], [SoLuong]) VALUES (2, N'thịt heo', N'kg', 50)
INSERT [dbo].[NGUYENLIEU] ([NguyenLieu_ID], [TenNguyenLieu], [DonVi], [SoLuong]) VALUES (3, N'thịt càng cua', N'kg', 40)
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([NhaCungCap_ID], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (1, N'Công ty A', N'Quãng Ngãi', N'0563210456')
INSERT [dbo].[NHACUNGCAP] ([NhaCungCap_ID], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (2, N'Công ty B', N'Khánh Hòa', N'0125623120')
INSERT [dbo].[NHACUNGCAP] ([NhaCungCap_ID], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (3, N'Công ty C', N'Hồ Chí Minh', N'0563895520')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([NhanVien_ID], [TenNhanVien], [HoNhanVien], [Email], [DiaChi], [MatKhau], [TrangThai]) VALUES (1, N'Phượng', N'Kiều', N'phuong@gmail.com', N'Hồ Chí Minh', N'123456', 1)
INSERT [dbo].[NHANVIEN] ([NhanVien_ID], [TenNhanVien], [HoNhanVien], [Email], [DiaChi], [MatKhau], [TrangThai]) VALUES (2, N'An', N'Phạm', N'an@gmail.com', N'Hồ Chí Minh', N'123456', 0)
INSERT [dbo].[NHANVIEN] ([NhanVien_ID], [TenNhanVien], [HoNhanVien], [Email], [DiaChi], [MatKhau], [TrangThai]) VALUES (3, N'Mẫn', N'Châu', N'man@gmail.com', N'Hồ Chí Minh', N'123456', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[THANHPHANMONAN] ON 

INSERT [dbo].[THANHPHANMONAN] ([CongThuc_ID], [NguyenLieu_ID], [MonAn_ID], [SoLuong]) VALUES (1, 14, 10, 0.05)
INSERT [dbo].[THANHPHANMONAN] ([CongThuc_ID], [NguyenLieu_ID], [MonAn_ID], [SoLuong]) VALUES (2, 11, 10, 0.1)
INSERT [dbo].[THANHPHANMONAN] ([CongThuc_ID], [NguyenLieu_ID], [MonAn_ID], [SoLuong]) VALUES (3, 8, 10, 0.001)
SET IDENTITY_INSERT [dbo].[THANHPHANMONAN] OFF
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONDATHANG_DONDATHANG] FOREIGN KEY([DonDatHang_ID])
REFERENCES [dbo].[DONDATHANG] ([DonDatHang_ID])
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG] CHECK CONSTRAINT [FK_CHITIETDONDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONDATHANG_NGUYENLIEU] FOREIGN KEY([NguyenLieu_ID])
REFERENCES [dbo].[NGUYENLIEU] ([NguyenLieu_ID])
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG] CHECK CONSTRAINT [FK_CHITIETDONDATHANG_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETDONGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONGIAOHANG_DONGIAOHANG] FOREIGN KEY([DonGiaoHang_ID])
REFERENCES [dbo].[DONGIAOHANG] ([DonGiaoHang_ID])
GO
ALTER TABLE [dbo].[CHITIETDONGIAOHANG] CHECK CONSTRAINT [FK_CHITIETDONGIAOHANG_DONGIAOHANG]
GO
ALTER TABLE [dbo].[CHITIETDONGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONGIAOHANG_NGUYENLIEU] FOREIGN KEY([NguyenLieu_ID])
REFERENCES [dbo].[NGUYENLIEU] ([NguyenLieu_ID])
GO
ALTER TABLE [dbo].[CHITIETDONGIAOHANG] CHECK CONSTRAINT [FK_CHITIETDONGIAOHANG_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([HoaDon_ID])
REFERENCES [dbo].[HOADON] ([HoaDon_ID])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_MONAN] FOREIGN KEY([MonAn_ID])
REFERENCES [dbo].[MONAN] ([MonAn_ID])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_MONAN]
GO
ALTER TABLE [dbo].[CHITIETHOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOPDONG_HOPDONG1] FOREIGN KEY([HopDong_ID])
REFERENCES [dbo].[HOPDONG] ([HopDong_ID])
GO
ALTER TABLE [dbo].[CHITIETHOPDONG] CHECK CONSTRAINT [FK_CHITIETHOPDONG_HOPDONG1]
GO
ALTER TABLE [dbo].[CHITIETHOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOPDONG_NGUYENLIEU] FOREIGN KEY([NguyenLieu_ID])
REFERENCES [dbo].[NGUYENLIEU] ([NguyenLieu_ID])
GO
ALTER TABLE [dbo].[CHITIETHOPDONG] CHECK CONSTRAINT [FK_CHITIETHOPDONG_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPKHO_NGUYENLIEU] FOREIGN KEY([NguyenLieu_ID])
REFERENCES [dbo].[NGUYENLIEU] ([NguyenLieu_ID])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPKHO] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPKHO_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPKHO_PHIEUNHAPKHO] FOREIGN KEY([PhieuNhapKho_ID])
REFERENCES [dbo].[PHIEUNHAPKHO] ([PhieuNhapKho_ID])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPKHO] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPKHO_PHIEUNHAPKHO]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUATKHO_NGUYENLIEU] FOREIGN KEY([NguyenLieu_ID])
REFERENCES [dbo].[NGUYENLIEU] ([NguyenLieu_ID])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUATKHO] CHECK CONSTRAINT [FK_CHITIETPHIEUXUATKHO_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUATKHO_PHIEUXUATKHO] FOREIGN KEY([PhieuXuatKho_ID])
REFERENCES [dbo].[PHIEUXUATKHO] ([PhieuXuatKho_ID])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUATKHO] CHECK CONSTRAINT [FK_CHITIETPHIEUXUATKHO_PHIEUXUATKHO]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHACUNGCAP] FOREIGN KEY([NhaCungCap_ID])
REFERENCES [dbo].[NHACUNGCAP] ([NhaCungCap_ID])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHANVIEN] FOREIGN KEY([NhanVien_ID])
REFERENCES [dbo].[NHANVIEN] ([NhanVien_ID])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONGIAOHANG_DONDATHANG] FOREIGN KEY([DonDatHang_ID])
REFERENCES [dbo].[DONDATHANG] ([DonDatHang_ID])
GO
ALTER TABLE [dbo].[DONGIAOHANG] CHECK CONSTRAINT [FK_DONGIAOHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[DONGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONGIAOHANG_NHACUNGCAP] FOREIGN KEY([NhaCungCap_ID])
REFERENCES [dbo].[NHACUNGCAP] ([NhaCungCap_ID])
GO
ALTER TABLE [dbo].[DONGIAOHANG] CHECK CONSTRAINT [FK_DONGIAOHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([Ban_ID])
REFERENCES [dbo].[BAN] ([Ban_ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([KhachHang_ID])
REFERENCES [dbo].[KHACHHANG] ([KhachHang_ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([NhanVien_ID])
REFERENCES [dbo].[NHANVIEN] ([NhanVien_ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHACUNGCAP] FOREIGN KEY([NhaCungCap_ID])
REFERENCES [dbo].[NHACUNGCAP] ([NhaCungCap_ID])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHANVIEN1] FOREIGN KEY([NhanVien_ID])
REFERENCES [dbo].[NHANVIEN] ([NhanVien_ID])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_NHANVIEN1]
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_LOAIMONAN] FOREIGN KEY([LoaiMonAn_ID])
REFERENCES [dbo].[LOAIMONAN] ([LoaiMonAn_ID])
GO
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [FK_MONAN_LOAIMONAN]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_NHACUNGCAP] FOREIGN KEY([NhaCungCap_ID])
REFERENCES [dbo].[NHACUNGCAP] ([NhaCungCap_ID])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_NHANVIEN] FOREIGN KEY([NhanVien_ID])
REFERENCES [dbo].[NHANVIEN] ([NhanVien_ID])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATKHO_NHANVIEN] FOREIGN KEY([NhanVien_ID])
REFERENCES [dbo].[NHANVIEN] ([NhanVien_ID])
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] CHECK CONSTRAINT [FK_PHIEUXUATKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[THANHPHANMONAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHPHANMONAN_MONAN] FOREIGN KEY([MonAn_ID])
REFERENCES [dbo].[MONAN] ([MonAn_ID])
GO
ALTER TABLE [dbo].[THANHPHANMONAN] CHECK CONSTRAINT [FK_THANHPHANMONAN_MONAN]
GO
ALTER TABLE [dbo].[THANHPHANMONAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHPHANMONAN_NGUYENLIEU] FOREIGN KEY([NguyenLieu_ID])
REFERENCES [dbo].[NGUYENLIEU] ([NguyenLieu_ID])
GO
ALTER TABLE [dbo].[THANHPHANMONAN] CHECK CONSTRAINT [FK_THANHPHANMONAN_NGUYENLIEU]
GO
USE [master]
GO
